body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.income-tracker > button {
  background-color: blue;
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
}

.income-tracker > input {
  border: 2px solid rgb(161, 157, 157);
  margin: 2px 6px;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* White background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #007bff; /* Blue color for headings */
}

.tracker-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.tracker-container > div {
  flex: 1;
  margin: 0 10px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #31aa6d;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da; /* Light gray border */
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.input-group button:hover {
  background-color: #0056b3;
}

.visualization {
  margin-top: 30px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.visualization h2 {
  color: #007bff;
  margin-bottom: 15px;
}

.visualization p {
  margin: 10px 0;
  color: #555;
}

svg {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  background-color: #f8f9fa;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tabs button.active {
  background-color: #007bff;
  color: white;
}

.tabs button:hover {
  background-color: #0056b3;
  color: white;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.balance-tab {
  background-color: #007bff;
}
.balance-tab.active {
  background-color: #0056b3;
}

.expense-tab {
  background-color: #e83e8c;
}
.expense-tab.active {
  background-color: #c73272;
}

.spending-tab {
  background-color: #fd7e14;
}
.spending-tab.active {
  background-color: #d45b00;
}

.income-tab {
  background-color: #20c997;
}
.income-tab.active {
  background-color: #17a784;
}

.charts-tab {
  background-color: #6f42c1;
}
.charts-tab.active {
  background-color: #563d7c;
}